.navigation {
  display: flex;
}

.navigation__list {
  display: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 12px;
    line-height: 1.33;
    font-weight: 500;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    gap: 20px;
  }
}

.navigation__item {
  padding: 20px 0;
  border-bottom: 1px solid var(--base-secondary, #f0ebff);

  @media (min-width: $tablet-width) {
    padding-top: 32px;
    padding-bottom: 0;
    min-width: 103px;
    border: none;
  }
}

.navigation__item:active {
  background-color: var(--base-secondary, #f0ebff);
}

.navigation__item:first-child {
  border-top: 1px solid var(--base-secondary, #f0ebff);

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.navigation__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-secondary-color, inherit);

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1.5;
  }

  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 1.33;
  }
}

.navigation__item--current a::after {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    border-bottom: 2px solid var(--base-primary, #7859cf);
    width: 100%;
    margin: 30px auto 0;
  }
}
