.slider-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slider-list__item {
  display: none;
}

.slider-list__item--current {
  display: block;
  background-color: var(--back-slider);

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(var(--back-slider) 76%, var(----base-light-color, #ffffff) 24%);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(var(--back-slider) 100%);
    padding-bottom: 84px;
  }
}

.slider-list__item--flat {
  --back-slider: var(--back-flat, #f3ebe1);
}

.slider-list__item--latte {
  --back-slider: var(--back-latte, #eae6fc);
}

.slider-list__item--espresso {
  --back-slider: var(--back-espresso, #e5e6e8);
}


.slider-list__image {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
    padding-top: 60px;
    padding-bottom: 0;
    gap: 19px;
    max-width: 608px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 30px;
    align-items: center;
    text-align: start;
    max-width: 1600px;
    margin: 0 auto;

    padding-top: 20px;
  }
}

.slider-list__img {
  margin-bottom: 5px;

  @media (min-width: $desktop-width) {

    display: block;
    width: 600px;
    height: 600px;
    object-fit: contain;
    padding-top: 10px;
    margin-left: 65px;
  }
}

.slider-list__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
  margin: 0;
  margin-top: 4px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 1.42;
    margin-top: 5px;
  }
}

.slider-list__description {
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.6;
    margin-top: 15px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 16px;
    max-width: 570px;
  }
}
