.sorting {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin-bottom: 25px;
  }
}

.sorting__title {
  margin: 0;
}

.sorting__select {
  font-family: var(--font-basic, "Montserrat");
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  padding: 4px 10px;
  margin: 0;
  margin-left: auto;
  box-sizing: border-box;
  border: none;
  color: var(--base-primary, #7859cf);
  background-color: transparent;
  background-image: url("../../icons/stack.svg#arrowdown");
  background-repeat: no-repeat;
  background-position: center right 20px;
  background-size: 10px 6px;
  appearance: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    min-width: 165px;
    background-position: center right 10px;
  }
}

